<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
</head>
<body>
    <h1>Lista de empleados</h1>

    <a th:href="@{/empleados/new}">Nuevo empleado</a>
    <a th:href="@{/empleados/report}">Envía reporte</a>

    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
            <td>
                <a th:href="@{'/empleados/edit/' + ${employee.id}}">Editar</a>
                <a th:href="@{'/empleados/delete/' + ${employee.id}}">Eliminar</a>
            </td>
        </tr>
    </table>
</body>
</html>